<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.angrylid.mall.mapper.ProductDetailMapper">
    <select id="selectList" resultType="ProductDetail">
        SELECT
            p.id pid,
            p.title,
            p.price,
            p.description,
            p.image0,
            p.image1,
            p.image2,
            p.image3,
            p.image4,
            p.image5,
            u.id uid,
            u.nikename,
            u.role_type
        FROM 
            product p 
        INNER JOIN 
            user u 
        ON 
            p.seller_id = u.id 
        WHERE 
            p.is_deleted != 1;
    </select>

    <select id="selectOneById" resultType="ProductDetail">
        SELECT
            p.id pid,
            p.title,
            p.price,
            p.description,
            p.image0,
            p.image1,
            p.image2,
            p.image3,
            p.image4,
            p.image5,
            u.id uid,
            u.nikename,
            u.role_type
        FROM product p 
        INNER JOIN user u 
        ON p.seller_id = u.id 
        WHERE p.is_deleted != 1
        AND p.id = #{id};
    </select>
</mapper>