<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.angrylid.mall.mapper.StudentEnrollmentMapper">
    <select id="insertStudent">
    begin;
    insert into `user` (created_at,modified_at,nickname,telephone,passwd,role_type) values(CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP(),"6336j42800","13607894087","90803802","unknown");
    set @uid = (select id from `user` where telephone = "13903292303");
    insert into student (student_id ,name,belong_to ,related_user) values("1804348432","七七","全华班",@uid);
    commit;
    </select>
</mapper>