<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.spring.guides.mbg.dao.UserMapper">
  <resultMap id="BaseResultMap" type="io.spring.guides.mbg.entity.User">
    <id column="uid" jdbcType="BIGINT" property="uid" />
    <result column="uname" jdbcType="VARCHAR" property="uname" />
    <result column="usex" jdbcType="VARCHAR" property="usex" />
  </resultMap>
  <sql id="Base_Column_List">
    uid, uname, usex
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where uid = #{uid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where uid = #{uid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="io.spring.guides.mbg.entity.User">
    insert into user (uid, uname, usex
      )
    values (#{uid,jdbcType=BIGINT}, #{uname,jdbcType=VARCHAR}, #{usex,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="io.spring.guides.mbg.entity.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="uname != null">
        uname,
      </if>
      <if test="usex != null">
        usex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="uname != null">
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="usex != null">
        #{usex,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.spring.guides.mbg.entity.User">
    update user
    <set>
      <if test="uname != null">
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="usex != null">
        usex = #{usex,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.spring.guides.mbg.entity.User">
    update user
    set uname = #{uname,jdbcType=VARCHAR},
      usex = #{usex,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="io.spring.guides.mbg.entity.User">
    <id column="uid" jdbcType="BIGINT" property="uid" />
    <result column="uname" jdbcType="VARCHAR" property="uname" />
    <result column="usex" jdbcType="VARCHAR" property="usex" />
  </resultMap>
  <sql id="Base_Column_List">
    uid, uname, usex
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where uid = #{uid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where uid = #{uid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="io.spring.guides.mbg.entity.User">
    insert into user (uid, uname, usex
      )
    values (#{uid,jdbcType=BIGINT}, #{uname,jdbcType=VARCHAR}, #{usex,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="io.spring.guides.mbg.entity.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="uname != null">
        uname,
      </if>
      <if test="usex != null">
        usex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="uname != null">
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="usex != null">
        #{usex,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.spring.guides.mbg.entity.User">
    update user
    <set>
      <if test="uname != null">
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="usex != null">
        usex = #{usex,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.spring.guides.mbg.entity.User">
    update user
    set uname = #{uname,jdbcType=VARCHAR},
      usex = #{usex,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="io.spring.guides.po.User">
    <id column="uid" jdbcType="BIGINT" property="uid" />
    <result column="uname" jdbcType="VARCHAR" property="uname" />
    <result column="usex" jdbcType="VARCHAR" property="usex" />
  </resultMap>
  <sql id="Base_Column_List">
    uid, uname, usex
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where uid = #{uid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where uid = #{uid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="io.spring.guides.po.User">
    insert into user (uid, uname, usex
      )
    values (#{uid,jdbcType=BIGINT}, #{uname,jdbcType=VARCHAR}, #{usex,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="io.spring.guides.po.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="uname != null">
        uname,
      </if>
      <if test="usex != null">
        usex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="uname != null">
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="usex != null">
        #{usex,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.spring.guides.po.User">
    update user
    <set>
      <if test="uname != null">
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="usex != null">
        usex = #{usex,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.spring.guides.po.User">
    update user
    set uname = #{uname,jdbcType=VARCHAR},
      usex = #{usex,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=BIGINT}
  </update>
</mapper>